test_counter.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "ee95704c-aa00-9ed5-45aa-a65f5c712832",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Count 1000",
        "dependsOn": []
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "nb",
          "value": {
            "value": "@int(activity('Count 1000').output.result.exitValue)",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "var1000",
        "dependsOn": [
          {
            "activity": "Count 1000",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "6fc3c3e1-9486-b5d2-4c41-4a301177bcd9",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Count 2000",
        "dependsOn": [
          {
            "activity": "var1000",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "var2000",
          "value": {
            "value": "@int(activity('Count 2000').output.result.exitValue)",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "var2000",
        "dependsOn": [
          {
            "activity": "Count 2000",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@greater(variables('var2000'), variables('nb'))\n",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "Office365Email",
              "typeProperties": {
                "body": "<p>Yes it works</p>",
                "to": "opastural@actioncontrelafaim.org",
                "subject": "test"
              },
              "externalReferences": {
                "connection": "203b27fc-7f16-4ec6-8e97-5acc2a17213d"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "mail success",
              "dependsOn": []
            }
          ],
          "ifFalseActivities": [
            {
              "type": "Office365Email",
              "typeProperties": {
                "body": "<p>FAIL</p>",
                "to": "opastural@actioncontrelafaim.org",
                "subject": "test"
              },
              "externalReferences": {
                "connection": "203b27fc-7f16-4ec6-8e97-5acc2a17213d"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "mail failure",
              "dependsOn": []
            }
          ]
        },
        "name": "testcond",
        "dependsOn": [
          {
            "activity": "var2000",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "nb": {
        "type": "Integer"
      },
      "var2000": {
        "type": "Integer"
      }
    }
  }
}